<form action = "http://localhost:5000/login" method = "POST">
    <div class="container">
      <h2>Login </h2>
      <p>Please enter your login credentials.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>

      <label for="otp"><b>OTP</b></label>
      <input type="text" placeholder="Enter MFA OTP" name="otp" id="otp" required>
  
      <button type="submit" class="loginbtn">Login</button>
    </div>
  
    <div class="container signin">
      <p>Don't have an account? <a href="/">Register here</a>.</p>
    </div>
</form>